In [4]:
import pandas as pd
import numpy as np

ar = np.array([[1.1,2,3.3,4],[2.7,10,5.4,7],[5.3,9,1.5,15]])
df=pd.DataFrame(ar, index = ['a1','a2','a3'],columns=['A','B','C','D'])
df

      A     B    C     D
a1  1.1   2.0  3.3   4.0
a2  2.7  10.0  5.4   7.0
a3  5.3   9.0  1.5  15.0

In [5]:
dic = {'A':[1.1,2.7,5.3], 'B':[2,10,9],'C':[3.3,5.4,1.5],'D':['a','b','c']}
df=pd.DataFrame(dic,index=['a1','a2','a3'])
df

      A   B    C  D
a1  1.1   2  3.3  a
a2  2.7  10  5.4  b
a3  5.3   9  1.5  c

In [6]:
food_info=pd.read_csv("/home/simplon/Téléchargements/food_info.csv")
print(type(food_info))
print()
print(food_info)

<class 'pandas.core.frame.DataFrame'>

      NDB_No                   Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0       1001            BUTTER WITH SALT      15.87         717         0.85
1       1002    BUTTER WHIPPED WITH SALT      15.87         717         0.85
2       1003        BUTTER OIL ANHYDROUS       0.24         876         0.28
3       1004                 CHEESE BLUE      42.41         353        21.40
4       1005                CHEESE BRICK      41.11         371        23.24
...      ...                         ...        ...         ...          ...
8613   83110             MACKEREL SALTED      43.00         305        18.50
8614   90240  SCALLOP (BAY&SEA) CKD STMD      70.25         111        20.54
8615   90480                  SYRUP CANE      26.00         269         0.00
8616   90560                   SNAIL RAW      79.20          90        16.10
8617   93600            TURTLE GREEN RAW      78.50          89        19.80

      Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0             81.11     2.11            0.06           0.0           0.06
1             81.11     2.11            0.06           0.0           0.06
2             99.48     0.00            0.00           0.0           0.00
3             28.74     5.11            2.34           0.0           0.50
4             29.68     3.18            2.79           0.0           0.51
...             ...      ...             ...           ...            ...
8613          25.10    13.40            0.00           0.0           0.00
8614           0.84     2.97            5.41           0.0           0.00
8615           0.00     0.86           73.14           0.0          73.20
8616           1.40     1.30            2.00           0.0           0.00
8617           0.50     1.20            0.00           0.0           0.00

      ...  Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
0     ...    2499.0      684.0        2.32        1.5      60.0          7.0
1     ...    2499.0      684.0        2.32        1.5      60.0          7.0
2     ...    3069.0      840.0        2.80        1.8      73.0          8.6
3     ...     721.0      198.0        0.25        0.5      21.0          2.4
4     ...    1080.0      292.0        0.26        0.5      22.0          2.5
...   ...       ...        ...         ...        ...       ...          ...
8613  ...     157.0       47.0        2.38       25.2    1006.0          7.8
8614  ...       5.0        2.0        0.00        0.0       2.0          0.0
8615  ...       0.0        0.0        0.00        0.0       0.0          0.0
8616  ...     100.0       30.0        5.00        0.0       0.0          0.1
8617  ...     100.0       30.0        0.50        0.0       0.0          0.1

      FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0         51.368       21.021        3.043           215.0
1         50.489       23.426        3.012           219.0
2         61.924       28.732        3.694           256.0
3         18.669        7.778        0.800            75.0
4         18.764        8.598        0.784            94.0
...          ...          ...          ...             ...
8613       7.148        8.320        6.210            95.0
8614       0.218        0.082        0.222            41.0
8615       0.000        0.000        0.000             0.0
8616       0.361        0.259        0.252            50.0
8617       0.127        0.088        0.170            50.0

[8618 rows x 36 columns]

In [4]:
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [7]:
#SELECTIONNER UNE LIGNE

row_100=food_info.loc[99]
print(type(row_100))
print()
row_100

<class 'pandas.core.series.Series'>

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

In [6]:
num_rows=food_info.shape[0]
last_rows=food_info.loc[num_rows-5:num_rows-1]
last_rows

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [8]:
protein = food_info["Protein_(g)"]
cholesterol= food_info["Cholestrl_(mg)"]
print(type(protein))
print()
print(protein)

<class 'pandas.core.series.Series'>

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
        ...
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64

In [10]:
selenium_thiamin=food_info[['Shrt_Desc','Selenium_(mcg)']]
selenium_thiamin
print()
print(type(selenium_thiamin))

<class 'pandas.core.frame.DataFrame'>

In [11]:
col_names=food_info.columns.tolist()
gram_colums=[]

for c in col_names:
    if c.endswith("(g)"):
        gram_colums.append(c)
        
gram_df=food_info[gram_colums]

gram_df.head(3)

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

In [12]:
titanic_survival=pd.read_csv("/home/simplon/Téléchargements/titanic_survival.csv")
titanic_survival

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
age=titanic_survival["age"]
age_is_null=titanic_survival[age.isnull()].shape[0]
print(age_is_null)
x=len(age)-age_is_null
print(x)

264
1046

In [14]:
age_is_null=pd.isnull(titanic_survival["age"])
good_ages = titanic_survival["age"][age_is_null==False]
mean_age= sum(good_ages)/(len(good_ages))
print(mean_age)

29.8811345124283

In [15]:
mean_fare=titanic_survival["fare"].mean()
print(mean_fare)

33.29547928134572

In [16]:
fare_by_class={}
class1=[]
class2=[]
class3=[]
passenger_classes=[1,2,3]
for i in passenger_classes:
    fare_by_class[i]=titanic_survival["fare"][titanic_survival["pclass"]==i].mean()

print(fare_by_class)

{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}

In [19]:
passenger_age = titanic_survival.pivot_table(index="pclass",values="fare")
print(passenger_age)

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889

In [20]:
passenger_survival = titanic_survival.pivot_table(index="pclass",values="survived")
print(passenger_survival)

        survived
pclass
1.0     0.619195
2.0     0.429603
3.0     0.255289

In [23]:
import numpy as np

port_stats = titanic_survival.pivot_table(index="embarked", values=["fare","survived"],aggfunc=np.mean)
print(port_stats)

               fare  survived
embarked
C         62.336267  0.555556
Q         12.409012  0.357724
S         27.418824  0.332604

#axis = 0 pour les lignes et axis = 1 pour les colonnes
new_titanic_survival = titanic_survival.dropna(axis=0, subset=["age","sex"])
new_titanic_survival

In [26]:
print(new_titanic_survival.shape)
print(titanic_survival.shape)

(1046, 14)
(1310, 14)

In [29]:
first_ten_rows=new_titanic_survival.iloc[0:10]
row_position_fifth=new_titanic_survival.iloc[4]
row_index_25=new_titanic_survival.loc[25]

In [31]:
row_index_1100_age = new_titanic_survival.loc[1100,"age"]
row_index_25_survived = new_titanic_survival.loc[25,"survived"]
five_rows_three_cols=new_titanic_survival.iloc[0:5,0:3]

In [32]:
titanic_reindexed=new_titanic_survival.reset_index(drop=True)
titanic_reindexed.iloc[0:5,0:3]

   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

In [33]:
def null_count(column):
    column_null = pd.isnull(column)
    null=column[column_null]
    return len(null)

In [34]:
column_null_count=titanic_survival[['pclass','age']].apply(null_count)
print(column_null_count)

pclass      1
age       264
dtype: int64

In [48]:
def minor(ligne):
    age=ligne.loc["age"]
    if age<18:
        return "minor"
    elif age>=18:
        return "adult"
    else:
        return "unknown"

age_labels=titanic_survival[['age']].apply(minor, axis=1)
print(adult_minor)

0         adult
1         minor
2         minor
3         adult
4         adult
         ...
1305    unknown
1306      adult
1307      adult
1308      adult
1309    unknown
Length: 1310, dtype: object

In [51]:
titanic_survival["age_labels"]=age_labels
age_group_survival = titanic_survival.pivot_table(index="age_labels",values="survived")
print(age_group_survival)

            survived
age_labels
adult       0.387892
minor       0.525974
unknown     0.277567

In [53]:
food_info=pd.read_csv("/home/simplon/Téléchargements/food_info.csv")
col_names=food_info.columns.tolist()

In [54]:
print(col_names)

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']

In [55]:
sodium_grams=food_info["Sodium_(mg)"]/1000
sugar_milligrams=food_info["Sugar_Tot_(g)"]*1000

In [56]:
grams_of_protein_per_gram_of_water=food_info["Protein_(g)"]/food_info["Water_(g)"]
milligrams_of_calcium_and_iron=food_info["Calcium_(mg)"]+food_info["Iron_(mg)"]

In [57]:
print(grams_of_protein_per_gram_of_water)

0       0.053560
1       0.053560
2       1.166667
3       0.504598
4       0.565313
          ...
8613    0.430233
8614    0.292384
8615    0.000000
8616    0.203283
8617    0.252229
Length: 8618, dtype: float64

0        24.02
1        24.16
2         4.00
3       528.31
4       674.43
         ...
8613     67.40
8614     10.58
8615     16.60
8616     13.50
8617    119.40
Length: 8618, dtype: float64

In [59]:
protein=food_info["Protein_(g)"]*2
fat=food_info["Lipid_Tot_(g)"]*(0.75)
rating=protein - fat
print(rating)

0      -59.1325
1      -59.1325
2      -74.0500
3       21.2450
4       24.2200
         ...
8613    18.1750
8614    40.4500
8615     0.0000
8616    31.1500
8617    39.2250
Length: 8618, dtype: float64

In [61]:
normalized_protein=food_info["Protein_(g)"]/food_info["Protein_(g)"].max()
normalized_fat=food_info["Lipid_Tot_(g)"]/food_info["Lipid_Tot_(g)"].max()

In [62]:
print(normalized_fat)

0       0.8111
1       0.8111
2       0.9948
3       0.2874
4       0.2968
         ...
8613    0.2510
8614    0.0084
8615    0.0000
8616    0.0140
8617    0.0050
Name: Lipid_Tot_(g), Length: 8618, dtype: float64

In [63]:
food_info["Normalized_Protein"]=normalized_protein
food_info["Normalized_Fat"]=normalized_fat

In [64]:
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Normalized_Protein,Normalized_Fat
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.009624,0.8111
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,0.009624,0.8111
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.003170,0.9948
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0,0.242301,0.2874
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0,0.263134,0.2968

In [65]:
food_info["Norm_Nutr_Index"]=2*food_info["Normalized_Protein"]+ (-0.75)*food_info["Normalized_Fat"]

In [66]:
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.009624,0.8111,-0.589077
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,1.5,60.0,7.0,50.489,23.426,3.012,219.0,0.009624,0.8111,-0.589077
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.003170,0.9948,-0.739759
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.5,21.0,2.4,18.669,7.778,0.800,75.0,0.242301,0.2874,0.269051
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.5,22.0,2.5,18.764,8.598,0.784,94.0,0.263134,0.2968,0.303668

In [67]:
food_info.sort_values("Norm_Nutr_Index", inplace=True,ascending=False)

In [68]:
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.0,...,0.0,0.0,0.0,0.066,0.101,0.258,0.0,1.000000,0.0053,1.996025
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.0,...,0.0,0.0,0.0,0.070,0.060,0.010,0.0,0.969203,0.0010,1.937656
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.0,...,0.0,0.0,0.0,0.147,0.173,0.070,20.0,0.958220,0.0048,1.912840
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.932971,0.0004,1.865642
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.0,...,NaN,NaN,NaN,0.600,1.330,0.370,NaN,0.935236,0.0230,1.853221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,4520,FAT MUTTON TALLOW,0.00,902,0.00,100.00,0.00,0.00,0.0,0.0,...,0.7,28.0,0.0,47.300,40.600,7.800,102.0,0.000000,1.0000,-0.750000
629,4031,SHORTENING HOUSEHOLD PARTIALLY HYDROG SOYBN -C...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,0.0,43.0,25.000,44.500,26.100,0.0,0.000000,1.0000,-0.750000
630,4034,OIL SOYBN SALAD OR COOKING (PARTIALLY HYDROGEN...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,0.0,24.7,14.900,43.000,37.600,0.0,0.000000,1.0000,-0.750000
631,4037,OIL RICE BRAN,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,NaN,NaN,24.7,19.700,39.300,35.000,0.0,0.000000,1.0000,-0.750000
750,4656,OIL INDUSTRIAL PALM KERNEL CONFECTION FAT,0.05,884,0.00,100.00,0.01,0.00,0.0,0.0,...,NaN,NaN,24.7,87.558,5.406,0.834,0.0,0.000000,1.0000,-0.750000